<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="listeners.MyTransformer"/>
    </listeners>
    <test name="loginTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="testCases.LoginTest"/>
        </classes>
    </test>
    <test name="searchTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.SearchResultTest"/>
        </classes>
    </test>
</suite>
